/* header */

/* header{
    background-image: url(../img/bg-image-28.jpg);
    background-size: cover;
    background-position: center;
} */

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-link,
.navbar-brand {
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}

.navbar-brand:hover {
  color: #fff;
}

.slider {
  height: 100vh;
}

.bg1 {
  background-image: url(../img/bg-image-28.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.bg2 {
  background-image: url(../img/bg-image-29.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

h1 {
  font-weight: 900;
}

.btn-secondary {
  background-color: transparent;
}

.btn-secondary:hover {
  background-color: #fff;
  color: black;
}

/*  end of header */

/*  start setion 2 who we are */
.animation-we-are::after {
  content: " ";
  color: #00c3da !important;
  animation-name: ax;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes ax {
  0% {
    content: "a |";
  }

  2.2% {
    content: "ap |";
  }

  7% {
    content: "app |";
  }

  10% {
    content: "apps |";
  }

  11% {
    content: "apps |";
  }

  12% {
    content: "apps |";
  }

  13% {
    content: "apps |";
  }

  14% {
    content: "apps |";
  }

  15% {
    content: "apps |";
  }

  16% {
    content: "apps |";
  }

  18% {
    content: "apps |";
  }

  20% {
    content: "apps |";
  }

  23% {
    content: "apps |";
  }

  24% {
    content: "app |";
  }

  28% {
    content: "ap |";
  }

  30% {
    content: "a |";
  }

  33% {
    content: " |";
  }

  35% {
    content: "s |";
  }

  36% {
    content: "so |";
  }

  39% {
    content: "sof |";
  }

  42% {
    content: "soft |";
  }

  45% {
    content: "softw |";
  }

  48% {
    content: "softwa |";
  }

  42% {
    content: "softwar |";
  }

  45% {
    content: "softwa |";
  }

  48% {
    content: "softw |";
  }

  50% {
    content: "soft |";
  }

  52% {
    content: "so |";
  }

  55% {
    content: "s |";
  }

  58% {
    content: " |";
  }

  60% {
    content: "w |";
  }

  65% {
    content: "we |";
  }

  68% {
    content: "web |";
  }

  70% {
    content: "webs |";
  }

  72% {
    content: "websi |";
  }

  75% {
    content: "websit |";
  }

  77% {
    content: "website |";
  }

  79% {
    content: "websit |";
  }

  82% {
    content: "websi |";
  }

  85% {
    content: "webs |";
  }

  90% {
    content: "webs |";
  }

  93% {
    content: "web |";
  }

  95% {
    content: "we |";
  }

  98% {
    content: "w |";
  }

  100% {
    content: "w |";
  }
}

/* end of section 2 */

/* start of section 3 */

.team {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.Creative-Team-text-center::after {
  content: "o";
  position: absolute;
  font-size: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}

.card-img {
  overflow: hidden;
}

.bg-card-img {
  top: 100%;
  left: 0;
  background-color: rgba(0, 195, 218, 0.9);
  transition: 0.1s background-color, 0.1s top;
}

.card-img:hover .bg-card-img {
  background-color: rgba(0, 195, 218, 0.9);
  top: 0;
}

.icones-bg-card-img i {
  margin-right: 10px;
  cursor: pointer;
  transition: text-shadow;
}

.icones-bg-card-img i:hover {
  text-shadow: 0px 0px 5px rgb(203, 203, 203);
}

/* end  of section 3 */

.intro-caption h2 {
  font-size: 70px;
  color: rgba(120, 120, 120, 0.3);
  font-weight: 700;
  position: relative;
}

.intro-caption h2::after {
  content: "CreativeTeam";
  color: #1f1f1f;
  font-size: 40px;
  position: absolute;
  left: -200%;
  top: 70%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}

.what-we-do {
  background-color: rgba(31, 31, 31, 0.8);
}

.what-we-do p {
  color: #ffffff;
}

.advantages p {
  font-size: 13px;
  font-weight: 600;
}

.what-we-do .intro-caption h2::after {
  content: "WhatWeDo";
  color: #ffffff;
  left: 40%;
}

.services li {
  color: #ffffff;
  margin-bottom: 10px;
}

.services i {
  margin-right: 5px;
}

/*Cheap*/
.cheap {
  background-color: #f7f7f7;
}

.cheap .intro-caption h2::after {
  content: "CheapPrices";
}

.cheap-item {
  background-color: #ffffff;
  color: #1f1f1f;
}

.cheap-item .header-caption p:nth-child(2) {
  position: relative;
}

.cheap-item .header-caption p:nth-child(2)::after {
  position: absolute;
  content: "9";
  bottom: -250%;
  left: 5%;
  font-size: 60px;
  font-weight: 700;
}

.cheap-item .header-caption {
  border-bottom: 1px solid #787878;
}

.cheap-list li {
  margin-bottom: 10px;
  color: #787878;
}

.cheap-item button {
  padding: 8px 12px;
  background-color: #00c3da;
  border-radius: 5px;
  border: #00c3da;
}

.cheap-item button p {
  margin-bottom: 0;
  color: #ffffff;
}

.blue-shape {
  background-color: #00c3da;
  border-radius: 5px;
  margin-bottom: 0;
}

.blue-shape p {
  padding: 5px 10px !important;
  margin-bottom: 0 !important;
}

#third-item p:nth-child(2) {
  color: #00c3da;
}

#third-item p:nth-child(2)::after {
  content: "29";
}

.customers {
  background-color: #f7f7f7;
}

.customer-img img {
  width: 100px;
  border-radius: 50%;
}

.customers h3 {
  color: #1f1f1f;
}

.bg-blue {
  background-color: #00c3da !important;
  width: 20px !important;
  height: 20px;
  border-radius: 50%;
}

.get-touch .intro-caption h2::after {
  content: "GetInTouch";
  left: 40%;
}

/* section cheap */
#price {
  background-color: #f7f7f7;
  height: auto;
}

.layer {
  position: relative;
}

.char-c {
  color: rgba(204, 204, 204, 0.5);
}

.char-c i {
  font-size: 60px;
  font-weight: bolder;
}

.move {
  position: absolute;
  top: 50%;
}

h2::selection {
  color: white;
  background-color: black;
}

sup::selection {
  color: white;
  background-color: black;
}

p::selection {
  color: white;
  background-color: black;
}

.btn2 {
  width: 70%;
}

.btn2:focus {
  box-shadow: 0 0 0 transparent;
  outline: transparent;
}

.card {
  box-shadow: 0 0 40px rgb(0 0 0 / 5%);
  transition: all 0.5s;
  border: none;
  border-radius: unset;
}

.card:hover {
  box-shadow: 0 0 65px rgb(0 0 0 / 10%);
}

.text {
  font-size: 10px;
  color: white;
}

.goldValue {
  width: 90%;
}

/* end section cheap */
/*______________________________________*/
/* contact section */
.map iframe {
  width: 600px;
  height: 600px;
}

.contact-title {
  text-align: start;
}

.contact-title h2 {
  font-size: 30px;
  color: rgb(31, 31, 31);
  text-align: start;
}

.contact p {
  color: rgb(120, 120, 120);
  font-size: 18px;
  line-height: 24px;
  margin: 10px 0px;
}

.contact button {
  padding: 12px 25px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1em #1f1f1f;
}

label {
  color: rgb(31, 31, 31);
  font-size: 17px;
}
